pkg_resources==0.0.0
Adafruit-Blinka==8.16.1                   # Raspy only, not possible on other devices -> commented out
adafruit-circuitpython-busdevice==5.2.4
adafruit-circuitpython-dht==3.7.8
adafruit-circuitpython-requests==1.13.1
adafruit-circuitpython-tsl2561==3.3.15
adafruit-circuitpython-typing==1.9.0
Adafruit-PlatformDetect==3.43.0
Adafruit-PureIO==1.1.10
paho-mqtt==1.6.1
pip==23.2.1